<h1>Welcome <%= current_user.email if current_user %></h1>
<p>Why you should not create some <%= link_to "New Surveys", new_survey_path %>, edit existing one or fill some of them</p> 
<ul>
<% Survey.all.each do |survey| %>
  <li><%= link_to survey.name, survey %> <%= link_to "FILL THIS", fill_survey_path(survey) %></li>
  <ul>
    <% survey.questions.each do |question| %>
      <li><%= question.content %></li>
    <% end %>
  </ul>
<% end %>
</ul>
