<%= form_for(@filled_survey) do |f| %>
  <% if @filled_survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@filled_survey.errors.count, "error") %> prohibited this filled_survey from being saved:</h2>

      <ul>
      <% @filled_survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul>
  <%= f.fields_for :filled_questions do |f_question| %>
    <%= f_question.hidden_field :id %>
    <li><%= f_question.object.content %></li>
    <ul>
    <%= f_question.fields_for :filled_choice do |f_choice| %>
      <% f_choice.collection_radio_buttons :selected, f_choice.object.filled_question.filled_answers, :id, :content do |b| %>
        <li>
          <%= b.label { b.radio_button + b.text } %>
        </li>
      <% end %>
    <% end %>
    </ul>
  <% end %>

  <div class="actions">
    <%= f.submit %>
    <%= f.submit "Complete" %>
  </div>
<% end %>
