<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :questions do |builder| %>
    <div class="field">
      <%= builder.label :content, "Questions" %><br>
      <%= builder.text_area :content, :rows => 3 %><br>
      <%= builder.check_box :_destroy %>
      <%= builder.label :_destroy, "Remove question" %>

    </div>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
