<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @survey.name %>
</p>

<ol>
<% @survey.questions.each do |question| %>
  <li>
  <%= question.content %><br>
    <% question.answers.each do |answer| %>
      S: <%= answer.score %>
      A: <%= answer.content %>
      <br>
    <% end %>
  </li>
<% end %>
</ol>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
